 @model TravelNest.Models.Flight.FlightSearchViewModel
 <!DOCTYPE html>
<html lang="en">
    <body>

  <head>

    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>Travel Nest</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/assets/css/templatemo-travel-nest.css">

     <link rel="stylesheet" href="~/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="~/assets/css/lightbox.css">
    
 

    </head>
    
    </body>
 <div class="col-lg-6">
    <div class="contact-form">
      <form  method="post">
        <div class="row">
          <div class="col-lg-12">
            <h4>جستوجو</h4>
          </div>
            <div class="col-lg-6 col-sm-12">
              <fieldset>
                <input placeholder="مبدا  : " asp-for="Origin"  >
              </fieldset>
            </div>
            <div class="col-lg-6 col-sm-12">
              <fieldset>
                <input  placeholder="مقصد : "  asp-for="Destination">
              </fieldset>
            </div>
              <div class="col-lg-6 col-sm-12">
                <fieldset>
                  <input placeholder="تاریخ"  asp-for="Date1" >
                </fieldset>  
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit"  class="main-button-icon">جستوجو</button>
                      </fieldset>
                    </div>
                  </form>
                </div>
              </div>